* {
  box-sizing: border-box;
}
.App {
  width: 350px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

.brand {
  text-align: center;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #eee;
}

.nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.nav-list a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
}

.content {
  padding: 0px 5px;
}
.articles {
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
  margin-bottom: 5px;
  transition: 0.2s;
}
.articles:hover {
  background-color: #aaa;
}
.article-link {
  font-size: 17px;
  color: black;
  text-decoration: none;
}
.article-desc {
  line-height: 25px;
}
.article-image {
  width: 100%;
}
.article-date {
  color: #bbb;
  font-size: 13px;
}
